

:root{
    --classic-color: #ffffff;
    /* --neon-color: #00DCFF; */
    --neon-color: #F941FF;
    --fire-color: #FF774D;
    --water-color: #63CBFF;
    --earth-color: #43FF74;
    --primary-color: #bb07a3;
    --secondary-color: #cb0ccb;
    --tertiary-color: #B821FF;
    --background-color:linear-gradient(45deg, #511569 30%, black 90%);
    --nav-color: linear-gradient(180deg, rgba(132,0,135,1) 0%, rgba(23,0,44,1) 100%);
}

@font-face {
    font-family: 'BowblyOne';
    src: url('../images/fonts/BowlbyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;     
}
@font-face {
    font-family: 'Bungee';
    src: url('../images/fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bungeeline';
    src: url('../images/fonts/BungeeInline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Saira';
    src: url('../images/fonts/saira.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../images/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.eightnames
{
	width: 90%;
	height: 95%;
	background: rgba(111, 0, 139, 0.38);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
}

.eightnames_
{
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_test_
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* background-color: black; */
	/* border-radius: 100%; */
	width: 100%;
	height: 60%;
}

.img_test_ > img
{
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	width: 25%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}
.img_test_ > img:hover {
    transform: rotate(360deg) scale(1.2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.img_test_1
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 40%;
}
.img_test_1 h1{
	font-family: 'Bungee' !important;
	font-size: 200%;
	color: white;
}
.eightnames_  h1
{
	font-family: 'Bungee' !important;
	font-size: 300%;
	color: white;
}


.eightblocks
{
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-y: hidden;
	
}

.eightblocks1
{
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 5%;
}

.local_player8
{
	width: 20%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: 15px solid #bb07a3;
    border-radius: 100px;
	flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

	min-width: 200px;
	min-height: 200px;
}
.local_player8:hover {
	transform: scale(1.05);
	background: linear-gradient(135deg, #c700cf, #490241);	
	transition: all 0.3s ease-in-out;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.to_play_tou8
{
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25%;
}

@media (max-width: 1200px)
{
	.eightblocks1
	{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Automatically fills available space */
		justify-items: center;
		gap: 30px;
		overflow: scroll;
		scrollbar-color: black #2C0041;
	}
	.eightblocks1::-webkit-scrollbar {
		width: 20px;
	}
	.img_test_1 > h1
	{
		font-size: 100%;
	}
	.eightblocks
	{
		gap: 10px;
	}
}