.game_online
{
	width: 100%;
	height: 100%;
	/* background-color: aqua; */
	background: linear-gradient(to left,#930cc8  50%,#010101  50%);
	/* background: linear-gradient(139.98deg, #300141 10.69%, #2E0140 20.26%, #2D013F 30.76%, #2C013E 40.02%, #2B013D 51.46%, #2C0041 55.88%, #2C0041 63.86%, #2F0046 78.08%, #2B043E 83.04%); */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.chrono
{
	width: 50%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.chrono > h1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 600%;
	font-family: 'Bungee_Inline';
	color: white;
}



.img_vs_img
{
	width: 50%;
	height: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 5px;
}


.vs
{
	width: 30%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	/* background-color: #010101; */
}

.vs > h1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 400%;
	font-family: 'Bungee_Inline';
	color: white;
}
.vs img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the div area */
    border-radius: inherit; /* Inherit the border-radius from the parent div */
}


.quit_play
{
	width: 50%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.buuton_quit_play
{
	width: 15%;
	height: 15%;
	color: white;
	background-color: #73089d;
	border: 3px solid #73089d;
	border-radius: 10px;
}
.buuton_quit_play:hover {
	transition: all 0.5 ease-in-out;
	transform: scale(1.1);
}