.left-bar {
	background: linear-gradient(180deg, #840087 0%, #17002C 100%);
	backdrop-filter: blur(23px);
	gap: 5%;
	padding-top: 10px;
	margin-top: 15px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10%;
	min-width: 60px;
	max-width: 150px;
	height: 95%;
	min-height: 600px;
	border-radius: 25px;
}

.icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
	align-items: center;
	gap: 2%;
	width: 80%;
	height: 70%;
	min-height: 300px;
}

.button-test {
	transition: transform 0.3s;
}

.button-test:hover {
	transform: scale(1.2);
	cursor: pointer;
}


@media (max-width: 800px) {
	.left-bar {
		gap: 2%;
		border-radius: 15px;
		height: 90%;
	}
	.icons {
		gap: unset;
	}
}

.right-bar-logo {
	width: 80%;
	height: 10%;
	min-height: 40px;
}
/* 
.profile-image {
	width: 100%;
	align-self: center;
	min-width: 25px;
	max-width: 50px;
	border-radius: 50%;
	border: 2px solid black;
} */