.level {
	font-family: Bungee;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -0.04em;
	text-align: center;
	fill: #FFFFFF;
	text-anchor: middle;
}


.badge {
	position: absolute;
	width: 40%;
	height: 40%;
	bottom: -22%;
}


.hexagon {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
	width: 30%;
	height: 20%;
	min-width: 40px;
	min-height: 10px;
	max-width: 100px;
	max-height: 100px;
}

.photo-box {
	display: flex;
	justify-content: center;
	align-self: center;
	position: relative;
	width: 25%;
	filter: drop-shadow(0px 2px 81.3px rgba(255, 0, 200, 1.5));
}

.outer-circle, .middle-circle,.image-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.outer-circle {
	margin-top: 10%;
    width: 100%;
	aspect-ratio: 1 / 1;
    background-color: #E634B4;
	min-width: 80px;
	max-width: 250px;
}

.middle-circle {
    width: 93%;
    height: 93%;
    background-color: #00DCFF;
}

.image-circle {
    width: 90%;
    height: 90%;
    background-color: white;
    overflow: hidden;
}

.image-circle img {
    width: 98%;
    height: 98%;
    border-radius: 100%;
    object-fit: cover;
}
