<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
</head>
<body>
    <h1>Chat Room: <span id="room-name"></span></h1>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    <script>
        console.log("test");

        const roomName = "1_2"; // Replace this with dynamic room names
        document.getElementById('room-name').textContent = roomName;

        console.log(`ws://${window.location.host}/ws/chat/${roomName}/`);
        const chatSocket = new WebSocket(
            `ws://${window.location.host}/ws/chat/${roomName}/`
        );

        chatSocket.onopen = function(e) {
            console.log("WebSocket connection opened");
        };

        chatSocket.onerror = function(e) {
            console.error("WebSocket connection error", e);
        };

        chatSocket.onclose = function(e) {
            console.log("WebSocket connection closed", e);
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += `<b>${data.username}</b>: ${data.message}<br>`;
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            // chatSocket.send(JSON.stringify({'message': message}));
            chatSocket.send(JSON.stringify({
                'message': message,
            }));

            messageInputDom.value = '';
        };
    </script>
</body>
</html>
